<!DOCTYPE html>

<html>

    <head>
        <title>My New todolist File</title>
        <style>
        
         a {
                text-decoration: none;
                color: black;
            }
                   body {

 background-size: cover;
 height :600px;
 width: :600px;
 background-repeat: no-repeat;
}

        </style>
    </head>

    
    <body background="https://png.pngtree.com/thumb_back/fh260/background/20210814/pngtree-blue-purple-simple-gradient-background-image_760572.jpg">
   
        <h1> A TODO List New</h1>
        <ul>
            <% todolist.forEach(function(todo, index) { %>
            <li>
                <a href="/todo/delete/<%= index %>">✘</a>
                <a href="/todo/<%= index %>">✎</a>
                <%- todo %>
            </li>
            <% }); %>
        </ul>

        <form action="/todo/add/" method="post">
            <p>
Hello Mam <br>
            Name  : Nancey <br>
            Roll no : 47 <br>
            Reg no. : 12012139 <br>
            <br>
            <br>
            <br>
                <label for="newtodo">What shoud I do?</label>
                <input type="text" name="newtodo" id="newtodo" autofocus />
                <input type="submit" value="Add" />
            </p>
        </form>
    </body>

</html>
