<!DOCTYPE html>

<html>

    <head>
        <title>My New todolist File</title>
        <style>
        body{
        background-image: url("png.pngtree.com/background/20210716/original/pngtree-paper-cut-style-pink-spotted-cute-teddy-bear-background-picture-image_1338148.jpg");
         }
         a {
                text-decoration: none;
                color: black;
            }

        </style>
    </head>

    <body>
   
        <h1> A TODO List New</h1>
        <ul>
            <% todolist.forEach(function(todo, index) { %>
            <li>
                <a href="/todo/delete/<%= index %>">✘</a>
                <a href="/todo/<%= index %>">✎</a>
                <%- todo %>
            </li>
            <% }); %>
        </ul>

        <form action="/todo/add/" method="post">
            <p>
            Name  : Nancey <br>
            Roll no : 47 <br>
            Reg no. : 12012139 <br>
            <br>
            <br>
            <br>
                <label for="newtodo">What shoud I do?</label>
                <input type="text" name="newtodo" id="newtodo" autofocus />
                <input type="submit" value="Add" />
            </p>
        </form>
    </body>

</html>
